{:deps {ring/ring-core            {:mvn/version "1.8.0"}
        org.clojure/data.json     {:mvn/version "1.0.0"}
        ring/ring-jetty-adapter   {:mvn/version "1.8.0"}
        org.clojure/tools.cli     {:mvn/version "0.3.5"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        clj-commons/iapetos       {:mvn/version "0.1.9"}
        io.prometheus/simpleclient_hotspot {:mvn/version "0.6.0"}}
 :paths ["resources" "src"]
 :aliases
 {:ring-module {:main-opts ["-m" "ring-module.core"]}
  :dev {:extra-paths ["dev"]
        :extra-deps {ring/ring-devel {:mvn/version "1.8.0"}}}
  :test
  {:extra-paths ["test" "test/resources"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "0.10.0"}
    com.github.clojure-expectations/clojure-test
    {:git/sha "3a2188d"
     :git/tag "v2.0.165"}
    com.github.pjstadig/humane-test-output
    {:git/tag "0.11.0"
     :git/sha "063ee9f"}}}
  :runner
  {:extra-deps
   {com.github.cognitect-labs/test-runner
    {:git/tag "v0.5.1"
     :git/sha "dfb30dd"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner" "-d" "test"]}}}
