{:deps {ring/ring-core          {:mvn/version "1.8.0"}
        org.clojure/data.json   {:mvn/version "1.0.0"}
        ring/ring-jetty-adapter {:mvn/version "1.8.0"}
        org.clojure/tools.cli   {:mvn/version "0.3.5"}
        com.taoensso/timbre     {:git/url "https://github.com/tstout/timbre.git"
                                 :git/tag "v5.1.2t" 
                                 :git/sha "fea330b"}
        clj-commons/iapetos     {:mvn/version "0.1.9"}
        io.prometheus/simpleclient_hotspot {:mvn/version "0.6.0"}}
 :paths ["resources" "src"]
 :aliases
 {:ring-module {:main-opts ["-m" "ring-module.core"]}
  :dev {:extra-paths ["dev"]
        :extra-deps {ring/ring-devel {:mvn/version "1.8.0"}}}
  :test
  {:extra-paths ["test" "test/resources"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "0.10.0"}
    expectations/clojure-test
    {:git/url "https://github.com/clojure-expectations/clojure-test"
     :sha "ea94caad53ad390f6485f0d32bdb022e89ab5a4b"}
    pjstadig/humane-test-output
    {:git/url "https://github.com/pjstadig/humane-test-output"
     :sha "063ee9ff5adc5cf94ff7ab790ad6a80e6263ebc8"}}}
  :runner
  {:extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner" "-d" "test"]}}}
